git+https://github.com/finegrain-ai/refiners@a5d3c2971b84f6faa4762b1cf5a07f4f812bb1f5
gradio_imageslider==0.0.20
spaces==0.28.3
numpy<2.0.0
pillow>=8.0.0
pillow-heif>=0.15.0
torch>=2.0.0
huggingface-hub>=0.19.0
refiners>=0.7.0
pydantic>=2.0.0
fastapi>=0.68.0
uvicorn>=0.15.0
python-multipart>=0.0.5
